<footer class="footer">
    <div class="cont header__footer">
        <h2 class="header__footer--title">¿Quieres venir?</h2>
    </div>
    <div class="cont body__contact">
        <h4 class="body__contact--title">Déjale un mensaje a los novios...</h4>
        <div class="body__contact--body">
            <div class="body__contact--wp">
                <a href="https://wa.link/f95rww" rel="nofollow" target="_blank"
                    class="icon-whatsapp contact__wp">WhatsApp</a>
            </div>
            <div class="body__contact--tel">
                <a href="tel:+573206830839" rel="nofollow" target="_blank" class="icon-phone contact__wp">Llámanos</a>
            </div>
        </div>
        <div class="body__contact--hashtag">
            <a href="https://www.facebook.com/hashtag/bodalinaysebas" rel="nofollow" target="_blank"
                class="icon-users contact__hs">#BodaLina&Sebas</a>
        </div>
    </div>
</footer>
<div class="footer__footer">
    <p class="footer__footer--title">
        <strong>Desarrollado por k1n0 c0m</strong>
    </p>
    <a href="https://bit.ly/3ILNYYj" rel="nofollow" target="_blank" class="footer__footer--link">Catálogo de
        servicios K1n0 C0m</a>
</div>