<div class="top"></div>
{{> message}}
<div class="video">
    {{!-- <iframe src="/img/video-invitacion.mp4" frameborder="0" class="video-in"></iframe> --}}
    <iframe src="https://www.youtube.com/embed/ECwwJha8ohY" class="video-in" title="YouTube video player"
        frameborder="0"></iframe>
</div>

<div class="container">
    <div class="card__header card">
        <h2 class="card__header">Cero y van dos...</h2>
        <p class="body--text">
            Con este amor de 12 años y sumando, reiteramos la decisión que hace 4 años tomamos de continuar
            este viaje de amor y soñando que sea eterno.
        </p>
        <h1 class="card__footer">Esta vez al dar nuevamente el SÍ queremos que estés ahí; por que la vamos a gozar y a
            disfrutar como debe ser.</h1>
    </div>
</div>

<div class="container">
    <div class="card">
        <div class="card__header contador--header">
            <h2>17 de marzo, 2023</h2>
        </div>
        <div class="contador__fecha">
            <div class="contador--count">
                <div class="responsivo1">
                    <div class="cartel">
                        <div class="dias" id="dias"></div>
                        <p class="timer">Días</p>
                    </div>
                    <div class="cartel">
                        <div class="horas" id="horas"></div>
                        <p class="timer">Horas</p>
                    </div>
                </div>
                <div class="responsivo2">
                    <div class="cartel">
                        <div class="minutos" id="minutos"></div>
                        <p class="timer">Minutos</p>
                    </div>
                    <div class="cartel">
                        <div class="segundos" id="segundos"></div>
                        <p class="timer">Segundos</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="card">
        <div class="card__header iglesia__header">
            <h2>Ceremonia y Recepción</h2>
        </div>
        <div class="iglesia__img">
            <img src="/img/iglesia.jpg" alt="" class="iglesia__img--png">
        </div>
        <div class="card__body">
            <p class="card__body--text">
                Finca Los Cardos<br>
                Parlación El Limonar<br>
                Copacabana/Antioquia<br>
            </p>
        </div>
        <div class="card__footer">
            <p class="card__footer--info">
                <strong>7:30 p.m.</strong>
            </p>
            <a href="https://maps.app.goo.gl/Uj1aPFBEWXBsVjHa9" rel="nofollow" target="_blank" class="contact__wp">CÓMO
                LLEGAR</a>
        </div>
    </div>
</div>

{{> galeria }}

{{!-- <div class="container">
    <div class="card__header card">
        <p class="body--text">
            "El hombre y la mujer fueron creados el uno para el otro: No es bueno que el hombre está solo.<br> (Gn 2,
            18).<br>
            <br>Por eso deja el hombre a su padre y a su madre y se une a su mujer, y se hacen una sola carne".
        </p>
    </div>
</div> --}}

<div class="container">
    <div class="card__header card">
        <h2 class="card__header">Traje Formal:<br>Estilo Vintage</h2>
        <div class="iglesia__img">
            <img src="/img/pareja.png" alt="" class="iglesia__img--png">
        </div>
        <div class="dc d-flex">
            <div class="dress__code">
                <h3 class="dress__code--title">Mujeres:</h3>
                <p class="dress__code--content">
                    Evitar colores: Blanco,<br>Beige, Rojo o Negro.
                </p>
            </div>
            <div class="dress__code">
                <h3 class="dress__code--title">Hombres:</h3>
                <p class="dress__code--content">Se recomienda:<br>Corbata, Cargaderas, Corbatín
                </p>
            </div>
        </div>
    </div>
</div>

{{> protocolo }}

<div class="container" style="margin-bottom: 40px;">
    <div class="card__header card">
        <h2 class="card__header">Video Recuerdo</h2>
        <p class="body--text">
            Descarga el video de recuerdo en el siguiente botón
        </p>
        <button type="button" id="asis" class="download__vid">
            Descargar video
        </button>
    </div>
</div>

{{> footer }}