<div id="protocolo" class="protocolo">
    <div class="protocolo__header">
        <h2 class="protocolo__header--title">Protocolo</h2>
    </div>
    <div class="protocolo__body">
        <img src="/img/protocol.png" alt="" class="protocolo__body--img">

        <div class="protocolo__eff">
            <ul class="protocolo__listado">
                <li class="protocolo__item">
                    <p class="eff__link--txt"><strong>7:00 P.M.</strong> Bienvenida</p>
                </li>
                <li class="protocolo__item">
                    <p class="eff__link--txt"><strong>8:00 P.M.</strong> Ceremonia</p>
                </li>
                <li class="protocolo__item">
                    <p class="eff__link--txt"><strong>9:00 P.M.</strong> Recepción</p>
                </li>
                <li class="protocolo__item">
                    <p class="eff__link--txt"><strong>10:00 P.M.</strong> Cena</p>
                </li>
                <li class="protocolo__item">
                    <p class="eff__link--txt"><strong>10:30 P.M.</strong> Brindis</p>
                </li>
                <li class="protocolo__item">
                    <p class="eff__link--txt"><strong>10:45 P.M.</strong> Pastel</p>
                </li>
                <li class="protocolo__item">
                    <p class="eff__link--txt"><strong>11:00 P.M.</strong> Ramo</p>
                </li>
                <li class="protocolo__item">
                    <p class="eff__link--txt"><strong>11:15 P.M.</strong> Baile</p>
                </li>
            </ul>
        </div>
    </div>
</div>