<div id="protocolo" class="protocolo">
    <div class="protocolo__header">
        <h2 class="protocolo__header--title">Protocolo</h2>
    </div>
    <div class="protocolo__body">
        <img src="/img/protocol.png" alt="" class="protocolo__body--img">

        <div class="protocolo__eff">
            <a href="" class="eff__link ceremonia">
                <img src="/img/circulo.png" alt="" class="eff__link--img">
                <p class="eff__link--txt txt__ceremonia">Ceremonia al aire libre</p>
            </a>

            <a href="" class="eff__link fotos">
                <img src="/img/circulo.png" alt="" class="img__fotos">
                <p class="eff__link--txt txt__fotos">Tomémonos unos shots!</p>
            </a>

            <a href="" class="eff__link pastel">
                <img src="/img/circulo.png" alt="" class="img__pastel">
                <p class="eff__link--txt txt__pastel">Delicioso pastel para todos</p>
            </a>

            <a href="" class="eff__link shots">
                <img src="/img/circulo.png" alt="" class="img__shots">
                <p class="eff__link--txt txt__shots">Fotos de recordatorio</p>
            </a>

            <a href="" class="eff__link cena">
                <img src="/img/circulo.png" alt="" class="img__cena">
                <p class="eff__link--txt txt__cena">Deliciosa Cena</p>
            </a>

            <a href="" class="eff__link rumba">
                <img src="/img/circulo.png" alt="" class="img__rumba">
                <p class="eff__link--txt txt__rumba">celebremos esta unión juntos</p>
            </a>
        </div>
    </div>
</div>